*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol,li{
    list-style: none;
}
:root{
    --primary-color: #F07807;
    --secundary-color: #FBDDC1;
    --default-shadow: 0 4px 8px #0004;
    --defaut-padding: 0 80px;
}
html {
    /* deixando o movimento automatico da página mais suave, usando a tag html*/
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: var(--secundary-color);
}
header{
    position: fixed;
    width: 100%;
    height: 60px;
    top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--defaut-padding);
    background-color: #fff5;
    z-index: 999;
}

.logo-branca{
    display: none;
}

header menu{
    display: flex;
    align-items: center;
    gap: 48px;
}
header li{
    padding: 4px 8px;
    transition: .5s;
}
header li:hover{
    background-color: var(--secundary-color);
    box-shadow: var(--default-shadow);
}
header button{
    height: 48px;
    width: 120px;
    background-color: var(--secundary-color);
    border: none;
    border-radius: 12px;
    box-shadow: var(--default-shadow);
    color: var(--primary-color);
}
section{
    height: 100vh;
    padding: var(--defaut-padding);
}
.home{
    background-image: url(./img/bg-home.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    display: grid;
    grid-template-rows: 3fr 1fr;
    padding: var(--defaut-padding);
}

.hero{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 64px;
}
.hero h2{
    font-size: 4rem;
    width: 558px;
    font-weight: 400;
    margin-bottom: 64px;
}
.hero span{
    color: var(--primary-color);
}
.container-produtos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.produto{
    position: relative;
    display: flex;
    border-radius: 12px;
}
.adicionar{
    position: absolute;
    right: -18px;
    top: -18px;
    display: grid;
    place-content: center;
    height: 40px;
    width: 40px;
    background-color: var(--primary-color);
    border: 4px solid white;
    border-radius: 13px;
    font-size: 32px;
    color: white;
    opacity: 0;
    transition: .5s;
}
.produto:hover .adicionar{
    opacity: 1;
}
.animacao{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 12px;
}
.container-info{
    position: absolute;
    display: flex;
    padding: 0 12px;
    bottom: -36px;
    width: 100%;
    height: 36px;
    background-color: #0008;
    border-radius: 0 0 12px 12px;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}
.produto:hover .container-info{
    bottom: 0;
}
.container-info p{
    width: 120px;
    font-size: 12px;
    font-weight: 300;
    color: white;
}
.container-info span{
    display: grid;
    place-content: center;
    width: 57px;
    height: 20px;
    background-color: var(--primary-color);
    font-size: 12px;
    color: white;
    border-radius: 4px;
}
.cardapio{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-evenly;
}
.titulo-secao{
    display: flex;
    align-items: center;
    gap: 24px;
}
.titulo-secao h3{
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 500;
    text-transform: uppercase;
}
.cardapio-item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 260px;
    border-bottom: 2px solid var(--secundary-color);
}
.cabecalho-item{
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
}
.cabecalho-item h4,
.cabecalho-item a{
    font-size: 1.5rem;
    font-weight: 600;
}
.cardapio-item.bebidas{
    border: none;
}
.cardapio-item.bebidas .produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    padding: 16px;
}
.cardapio-item.bebidas .produto:hover{
    box-shadow: 2px 2px 8px #bbb;
    transition: .5s;
}
.cardapio-item.bebidas .valor{
    font-size: 1rem;
    color: var(--primary-color);
    width: 100%;
}
.cardapio-item.bebidas .descricao{
    font-size: 0.5rem;
    width: 100%;
}
.servicos{
    height: auto;
    background-color: var(--secundary-color);
    padding-block: 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.servico-item{
    display: flex;
    justify-content: space-between;
}

.servico-card{
    height: 500px;
    width: 400px;
    border: 4px solid var(--primary-color);
    border-radius: 24px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.servico-card img{
    /* CRTL + / para adicionar comentario */
    /* cria sombras em areas visiveis*/
    filter: drop-shadow(var(--default-shadow));
}

.servico-card h4{
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--primary-color);
    text-shadow: var(--default-shadow);
}

.servico-card p{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 300;
    text-shadow: var(--default-shadow);
}

footer{
    height: 525px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.contatos-container{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    width: 75%;
}

.contato-item{
    display: flex;
    flex-direction: column;
    padding-top: 127px;
    gap: 17px;
}

.contato-item.logo{
    justify-content: center;
    padding-top: 0;
}

.contato-item h4{
    font-size: 1.5rem;
    font-weight: 500;
}

.contato-item menu{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 300;
}

.contato-item li{
    display: flex;
    gap: 16px;
    width: 200px;
}

.social a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    transition: .5s;
}

.social a:hover{
    background-color: var(--secundary-color);
    color: var(--primary-color);
}

.copyright{
    height: 72px;
    text-align: center;
    /* usando o grid para centralizar o texto, é mais facil quando é apenas um elemento*/
    display: grid;
    place-content: center;

    border-top: 1px solid var(--secundary-color);
    font-size: 0.7rem;
    font-weight: 300;
    font-style: italic;
    width: 100%;
}

/*TABLET*/

/* media é como um if so que no CSS*/
@media (max-width: 1024px){
    header{
        /*a referencia de posicao é do pai dele*/
        position: absolute;
        background-color: transparent;
    }

    header menu{
        height: 64px;
        width: 100vw;
        position: fixed;
        left: 0;
        bottom: 0;
        color: white;
        background-color: var(--primary-color);
        justify-content: space-evenly;
    }

    .home{
        grid-template-rows: none;
    }

    .home .container-produtos{
        display: none;
    }

    .hero{
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .produto:nth-child(3),
    .produto:nth-child(4){
        display: none;
    }

    .cardapio-item.bebidas .produto:nth-child(n+4){
        display: none;
    }

    .cardapio-item.bebidas img{
        width: auto;
    }
    
    .container-produtos{
        gap: 16px;
    }

    .produto{
        width: 100%;
    }

    .produto img{
        width: 100%;
    }

    .servico-item{
        flex-direction: column;
        gap: 32px;
    }

    .servico-card{
        width: 100%;
        height: 260px;
        flex-wrap: wrap;
    }
    
    .servico-card p{
        width: 320px;
    }

    .contato-item.links {
        display: none;
    }

    .contatos-container{
        height: 400px;
        width: 60%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        gap: 32px;
    }
    .contato-item{
        padding: 0;
    }

    .social li {
        justify-content: end;
    }

    .copyright{
        margin-bottom: 64px;
    }

}

/*MOBILE*/

@media (max-width: 768px){
    header{
        padding: 12px;
    }
    

    header menu{
        height: 64px;
        width: 100vw;
        position: fixed;
        left: 0;
        bottom: 0;
        color: white;
        background-color: var(--primary-color);
        gap: 13px;
    }

    .logo-inicial{
        display: none;
    }

    .logo-branca{
        display: block;
    }

    .titulo-secao{
        justify-content: center;
    }

    .home{
        padding: 0px;
        height: 600px;
        place-items: left;
        background-image: url(./img/pizza-fundo.jpg);
        background-size: 160vh;
        background-position: center;
    }

    .filtro{
        background-color: #F07807;
        width: 100%;
        height: 600px;
        opacity: 0.7;
        position: absolute;
    }

    .hero{
        grid-template-rows: none;
        place-content: end;
        padding: 0;
    }

    .hero img{
        display: none;
    }

    .hero h2{
        width: 287px;
        position: absolute;
        font-size: 40px;
        color: white;
        margin-right: 75px;
    }

    .hero span{
        background-color: white;
    }

    .contatos-container{
        display: flex;
        flex-direction: row;
        padding-top: 56px;
    }

    .contato-item{
        justify-content: center;
        flex-direction: column;
    }

    .contato-item h4{
        text-align: center;
    }

    .cabecalho-item{
        text-align: center;
        justify-content: center;
        width: 300px;
    }

    .cabecalho-item a{
        display: none;
    }

    .produto:nth-child(2){
        display: none;
    }
    
    .produto span{
        padding-left: 20%;        
    }

    .cardapio{
        padding: 60px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .cardapio-item.bebidas .produto:nth-child(n+2){
        display: none;
    }

    .servicos{
        padding: 20px;
    }

    .servico-card{
        flex-direction: row;
        justify-content: center;
    }

    .servico-card p{
        display: none;
    }

    .social menu{
        flex-direction: row;
    }

    .social li{
        width: 50px;
    }

    footer{
        height: 600px;
    }

    .copyright{
        text-align: center;
    }


}